<p-table 
   [value]="scores" 
   [tableStyle]="{ 'min-width': '50rem' }" 
   [scrollable]="true"
   stripedRows    
   [loading]="tableLoading">
  <ng-template pTemplate="caption">
    <div class="table-header">
      <p-select 
        [options]="weeks" 
        [(ngModel)]="selectedWeek"
        (onChange)="onSelected()"
        optionLabel="value" 
        placeholder="Select a Week" 
        class="w-full md:w-56 mr-16"
      />  
      <p-select 
        [options]="years" 
        [(ngModel)]="selectedYear"
        (onChange)="onSelected()"
        optionLabel="value" 
        placeholder="Select a Year" 
        class="w-full md:w-56"
      />    
    </div>
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Home</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Away</th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-score>
        <tr class="">
            <td class="flex">
              {{ score.homeTeam }}
              <p-image class="ml-8" [src]=score.homeTeamLogo alt="" width="20" height="20"/>           
            </td>
            <td class="px-0" [ngClass]="{'highlighted': score.winner === 'home' }">{{ score.homeScore }}</td>
            <td class="px-0"> - </td>
            <td class="px-0" [ngClass]="{'highlighted': score.winner === 'away' }">{{ score.awayScore }}</td>
            <td class="flex" [style]="{ 'align-items': 'center', 'padding-bottom': '15px' }">
              {{ score.awayTeam }}
              <p-image class="ml-8" [src]=score.awayTeamLogo alt="" width="20" height="20"/>           
            </td>
            <td>
              <div class="flex" [style]="{ 'align-items': 'center', 'justify-content': 'space-between' }">
                {{ score.status }}
                <p-button 
                  icon="pi pi-plus" 
                  class="sm-btn" 
                  styleClass="p-button-secondary"
                  (click)="onRowClick(score)" 
                />
              </div>
            </td>
          </tr>
    </ng-template>
</p-table>

<app-nfl-game-final-dialog
  [detailsDialogVisible]="detailsFinalDialogVisible"
  (detailsDialogVisibleChange)="closeFinalDialog()"
  [gameDetails]="gameDetails"
></app-nfl-game-final-dialog>
